.main-div{
    height:250px;
    width: 100%;
    background-color:rgb(10, 10, 46);
    column-count: 3;
    /* padding: 10px; */

}
.main-div h2{
    
    margin: 20px;
    color: chocolate;
    font-weight: bold;
    text-align: center;
    
}
.main-div p{
    text-align: center;
    
    font-size: 22px;
    color: white;
}